* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #1d1d1e;
  font-family: 'Courier New', Courier, monospace;
}
body {
  padding: 24px;
}
.card {
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 #525252a8;
  width: 400px;
  margin: auto;
  /* Add code here */
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: #1d1d1ebd;
}

.tags {
  /* Add code here */
  display: flex;
  flex-wrap: wrap;
  gap: 6px
}

.tags div {
  background-color: #f1f1f1;
  padding: 4px 8px;
  border-radius: 50px;
  font-size: 12px;
  border: 1px solid #525252a8;
}

.intro {
  font-size: 16px;
}

.button-group {
  width: 100%;
  /* Add code here */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.contact {
  background-color: #1d1d1e;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.like {
  background-color: #f1f1f177;
  color: red;
  padding: 8px 16px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}